{% extends is_granted('IS_AUTHENTICATED_FULLY') ? 'layout/autenticado.html.twig':  'layout/anonimo.html.twig'  %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        div.m-subheader {
            display: none;
        }
    </style>
{% endblock stylesheets %}
{% block body %}
<div class="m-portlet m-portlet--mobile m--margin-top-30 m--margin-left-30 m--margin-right-30">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <span class="m-portlet__head-icon"><i class="flaticon-information"></i></span>
                <h3 class="m-portlet__head-text">
                    Acerca de nosotros
                </h3>
            </div>
        </div>
    </div>
    <div class="m-portlet__body">
        <div class="row">
            <div class="col-md-6">
                <h4>¿Qué es SITRANS?</h4>
                <p class="text-justify">
                    SITRANS es una aplicación web desarrollada por La Universidad Agraria de La Habana en aras de permitir a las instituciones y centros de trabajo controlar sus portadores energéticos. Es una aplicación colaborativa y libre por tal motivo otros desarrolladores pueden colaborar con mejoras y actualizaciones del software, siempre y cuando se realicen sin fines lucrativos.
                </p>
            </div>
            <div class="col-md-6">
                <h4>¿Cuál es su licencia?</h4>
                <p>
                    Este sistema utliza la licencia MIT, por tal motivo su código fuente es libre y gratuito, sin ánimos de lucro.
                    Además cualquier persona que utilice este software en su empresa o centro de trabajo al igual que cualquier desarrollador que lo tome como base para la confección de otro software similar solo basta con que destaque en su nueva propuesta de quien tomó la idea original, etc.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
