{% extends is_granted('IS_AUTHENTICATED_FULLY') ? 'layout/autenticado.html.twig':  'layout/anonimo.html.twig'  %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        div.m-subheader {
            display: none;
        }
    </style>
{% endblock stylesheets %}
{% block body %}
<div class="m-portlet m-portlet--mobile m--margin-top-30 m--margin-left-30 m--margin-right-30">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <span class="m-portlet__head-icon"><i class="flaticon-information"></i></span>
                <h3 class="m-portlet__head-text">
                    Política de privacidad
                </h3>
            </div>
        </div>
    </div>
    <div class="m-portlet__body">
        <div class="row margin-top-10">
            <div class="col-md-6">
                <h4>Tu privacidad es importante para nosotros</h4>
                <p>
                    El objetivo de SITRANS es permitir a las empresas e instituciones controlar el estado de los portadores
                    energéticos ayudarles a ser más productivos y eficientes.
                </p>
                <p>
                    Clave para esta misión es nuestro compromiso a ser transparentes contigo sobre los datos que recabamos sobre ti
                    y el modo en que se utilizan. Al utilizar nuestros Servicios, aceptas que usemos tus datos conforme
                    a lo establecido en esta Política de privacidad.
                </p>
            </div>
            <div class="col-md-6">
                <h4>Cambios</h4>
                <p>
                    Podemos modificar esta Política de privacidad y si introducimos algún cambio importante te avisaremos
                    a través de nuestros Servicios, o por otros medios, para ofrecerte la oportunidad de revisar los cambios
                    antes de que se hagan efectivos.
                </p>
                <p>
                    Si no estás de acuerdo con cualquiera de los cambios, puedes cerrar tu cuenta.
                    Tu uso continuado de nuestros Servicios después de publicar o de enviar un aviso sobre los cambios
                    a esta Política de privacidad significará que estás de acuerdo con los términos actualizados.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
