<li class="m-menu__item  m-menu__item--submenu m-menu__item--rel"  m-menu-submenu-toggle="click" aria-haspopup="true">
    <a  href="javascript:;" class="m-menu__link m-menu__toggle header">
        <span class="m-menu__item-here"></span>
        <i class="m-menu__link-icon flaticon-coins"></i>
        <span class="m-menu__link-text">
														Economía
													</span>
        <i class="m-menu__hor-arrow la la-angle-down"></i>
        <i class="m-menu__ver-arrow la la-angle-right"></i>
    </a>
    <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left">
        <span class="m-menu__arrow m-menu__arrow--adjust"></span>
        <ul class="m-menu__subnav">
            <li class="m-menu__item "  m-menu-link-redirect="1" aria-haspopup="true">
                <a  href="{{ path('planefectivo_index') }}" class="m-menu__link ">
                    <i class="m-menu__link-bullet m-menu__link-bullet--line">
                        <span></span>
                    </i>
                    <span class="m-menu__link-text">
																				Plan de efectivo
																			</span>
                </a>
            </li>
            <li class="m-menu__item "  m-menu-link-redirect="1" aria-haspopup="true">
                <a  href="{{ path('planportadores_index') }}" class="m-menu__link ">
                    <i class="m-menu__link-bullet m-menu__link-bullet--line">
                        <span></span>
                    </i>
                    <span class="m-menu__link-text">
																				Plan de portadores
																			</span>
                </a>
            </li>
        </ul>
    </div>
</li>