<li class="m-menu__item  m-menu__item--submenu"  m-menu-submenu-toggle="click" m-menu-link-redirect="1" aria-haspopup="true">
    <a  href="javascript:;" class="m-menu__link m-menu__toggle header">
        <span class="m-menu__item-here"></span>
        <i class="m-menu__link-icon flaticon-graphic-2"></i>
        <span class="m-menu__link-text">
														Reportes
													</span>
        <i class="m-menu__hor-arrow la la-angle-down"></i>
        <i class="m-menu__ver-arrow la la-angle-right"></i>
    </a>
    <div class="m-menu__submenu  m-menu__submenu--fixed-xl m-menu__submenu--center" >
        <span class="m-menu__arrow m-menu__arrow--adjust"></span>
        <div class="m-menu__subnav">
            <ul class="m-menu__content">
                <li class="m-menu__item">
                    <h3 class="m-menu__heading m-menu__toggle">
																	<span class="m-menu__link-text">
																		<b>Gráficas</b>
																	</span>
                        <i class="m-menu__ver-arrow la la-angle-right"></i>
                    </h3>
                    <ul class="m-menu__inner">
                        <li class="m-menu__item "  m-menu-link-redirect="1" aria-haspopup="true">
                            <a class="m-menu__link" id="analisisportadoresreport_link">
                                <i class="m-menu__link-icon flaticon-line-graph"></i>
                                <span class="m-menu__link-text">
										Análisis de portadores
                                    </span>
                            </a>
                        </li>
                        <li class="m-menu__item "  m-menu-link-redirect="1" aria-haspopup="true">
                            <a  id="consumomensualkwreport_link" class="m-menu__link ">
                                <i class="m-menu__link-icon flaticon-clipboard"></i>
                                <span class="m-menu__link-text">
																				Consumo mensual de kilowatts
																			</span>
                            </a>
                        </li>
                        <li class="m-menu__item "  m-menu-link-redirect="1" aria-haspopup="true">
                            <a class="m-menu__link" id="resumenviajesreport_link">
                                <i class="m-menu__link-icon flaticon-graphic-1"></i>
                                <span class="m-menu__link-text">
																				Resumen de viajes
																			</span>
                            </a>
                        </li>
                        <li class="m-menu__item "  m-menu-link-redirect="1" aria-haspopup="true">
                            <a  data-href="{{ path('estadovehiculos_report') }}" class="m-menu__link" id="estado_vehiculos">
                                <i class="m-menu__link-icon flaticon-pie-chart"></i>
                                <span class="m-menu__link-text">
																				Estado de los vehículos
																			</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="m-menu__item">
                    <h3 class="m-menu__heading m-menu__toggle">
																	<span class="m-menu__link-text">
																		<b>Transporte & Electricidad</b>
																	</span>
                        <i class="m-menu__ver-arrow la la-angle-right"></i>
                    </h3>
                    <ul class="m-menu__inner">
                        <li class="m-menu__item "  m-menu-link-redirect="1" aria-haspopup="true">
                            <a class="m-menu__link" id="kmconsumoreport_link">
                                <i class="m-menu__link-bullet m-menu__link-bullet--line">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">
																				Consumo de kilómetros y litros
																			</span>
                            </a>
                        </li>
                        <li class="m-menu__item "  m-menu-link-redirect="1" aria-haspopup="true">
                            <a class="m-menu__link" id="diferenciaconsumoreport_link">
                                <i class="m-menu__link-bullet m-menu__link-bullet--line">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">
																				Diferencia de consumo
																			</span>
                            </a>
                        </li>
                        <li class="m-menu__item "  m-menu-link-redirect="1" aria-haspopup="true">
                            <a  data-href="{{ path('remanenteactual_report') }}" class="m-menu__link" id="remanente_actual">
                                <i class="m-menu__link-bullet m-menu__link-bullet--line">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">
																				Remanente actual
																			</span>
                            </a>
                        </li>
                        <li class="m-menu__item "  m-menu-link-redirect="1" aria-haspopup="true">
                            <a  class="m-menu__link" id="analisishojarutareport_link">
                                <i class="m-menu__link-bullet m-menu__link-bullet--line">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">
																				Análisis de hojas de ruta
																			</span>
                            </a>
                        </li>
                        <li class="m-menu__item "  m-menu-link-redirect="1" aria-haspopup="true">
                            <a  class="m-menu__link" id="kwconsumoareareport_link">
                                <i class="m-menu__link-bullet m-menu__link-bullet--line">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">
																				Consumo de kilowatts por área
																			</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="m-menu__item">
                    <h3 class="m-menu__heading m-menu__toggle">
																	<span class="m-menu__link-text">
																		 <b>Más reportes</b>
																	</span>
                        <i class="m-menu__ver-arrow la la-angle-right"></i>
                    </h3>
                    <ul class="m-menu__inner">
                        <li class="m-menu__item "  m-menu-link-redirect="1" aria-haspopup="true">
                            <a  class="m-menu__link" id="porcientodesviacionreport_link">
                                <i class="m-menu__link-bullet m-menu__link-bullet--line">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">
																				Porciento de desviación
																			</span>
                            </a>
                        </li>
                        <li class="m-menu__item "  m-menu-link-redirect="1" aria-haspopup="true">
                            <a  data-href="{{ path('pendientemantenimiento_report') }}" class="m-menu__link " id="pendiente_mantenimiento">
                                <i class="m-menu__link-bullet m-menu__link-bullet--line">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">
																				Pendientes a mantenimiento
																			</span>
                            </a>
                        </li>
                        <li class="m-menu__item "  m-menu-link-redirect="1" aria-haspopup="true">
                            <a  class="m-menu__link" id="combustibleconsumomesareareport_link">
                                <i class="m-menu__link-bullet m-menu__link-bullet--line">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">Consumo de combustible por área en un mes</span>
                            </a>
                        </li>
                        <li class="m-menu__item "  m-menu-link-redirect="1" aria-haspopup="true">
                            <a  class="m-menu__link" id="combustibledistribucionmesreport_link">
                                <i class="m-menu__link-bullet m-menu__link-bullet--line">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">Distribución de combustible por mes</span>
                            </a>
                        </li>
                        <li class="m-menu__item "  m-menu-link-redirect="1" aria-haspopup="true">
                            <a  class="m-menu__link" id="combustibleconsumomesvehiculoreport_link">
                                <i class="m-menu__link-bullet m-menu__link-bullet--line">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">Consumo de combustible por vehículo en un mes</span>
                            </a>
                        </li>

                    </ul>
                </li>
            </ul>
        </div>
    </div>
</li>