<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">
                Detalles de la prueba de litro
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <div>
            <div class="modal-body" id="modal-body">
                <table class="table">
                    <tr>
                        <th>Vehículo</th>
                        <td>{{pruebalitro.vehiculo}}</td>
                    </tr>
                    <tr>
                    <th>Fecha</th>
                        <td>{{pruebalitro.fecha|date('d-m-Y H:i')}}</td>
                    </tr>
                    <tr>
                        <th>Kilómetros recorridos</th>
                        <td>{{pruebalitro.kmsrecorrido}}</td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <a class="btn btn-metal" data-dismiss="modal"><i class="flaticon-cancel"></i> Cancelar</a>
            </div>
        </div>
    </div>
</div>




