<!DOCTYPE html>
<html>
<meta charset="UTF-8"/>
<head>
    <title>Diferencia de consumos</title>
    <style>
        h1{
            text-align: center;
        }
        th {
            font-weight: bold !important;
            width: 300px !important;
            text-align: left;
        }
        thead tr{
            background-color: rebeccapurple !important;
        }
    </style>

</head>
<body>
            <h1>
                Diferencia de consumos
            </h1>
            <hr/>
                <table>
                    <thead>
                    <tr>
                        <th>Matrícula</th>
                        <th>Consumo registrado</th>
                        <th>Consumo real</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for obj in data %}
                        <tr>
                            <td>{{ obj.matricula }}</td>
                            <td>{{ obj.consumoregistrado }}</td>
                            <td>{{ obj.consumoreal }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
</body>
</html>