<!DOCTYPE html>
<meta charset="UTF-8"/>
<html>
<head>
    <title>Consumo de kms</title>
    <style>
        h1{
            text-align: center;
        }
        th {
            font-weight: bold !important;
            width: 300px !important;
            text-align: left;
        }
        thead tr{
            background-color: rebeccapurple !important;
        }
    </style>
</head>
<body>
    <h1>
        Kilómetros y litros consumidos
    </h1>
    <hr/>
        <table>

            <thead>
            <tr>
                <th>Matrícula</th>
                <th>Kilómetros</th>
                <th>Litros</th>
            </tr>
            </thead>
            <tbody>
            {% for obj in data.data %}
                <tr>
                    <td>{{ obj.matricula }}</td>
                    <td>{{ obj.kms }}</td>
                    <td>{{ obj.litros }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
</body>
</html>