<!DOCTYPE html>
<html>
<meta charset="UTF-8"/>
<head>
    <title>Consumo de kilowatts</title>
    <link href="{{ absolute_url(asset('vendors/base/vendors.bundle.css','template')) }}" rel="stylesheet"
          type="text/css"/>
    <link href="{{ absolute_url(asset('demo/demo9/base/style.bundle.css','template')) }}" rel="stylesheet"
          type="text/css"/>

</head>
<body>
<h1  class="text-center m--margin-bottom-40">
    Consumo de kilowatts
</h1>
<table class="table">
    <thead>
    <tr>
        <th>Área</th>
        <th>Consumo</th>
    </tr>
    </thead>
    {% for obj in data %}
        <tr>
            <td>{{ obj.area }}</td>
            <td>{{ obj.consumo }}</td>
        </tr>
    {% endfor %}
    <tfoot>
    <tr>
        <th>Área</th>
        <th>Consumo</th>
    </tr>
    </tfoot>
</table>
</body>
</html>