<!DOCTYPE html>
<html>
<meta charset="UTF-8"/>
<head>
    <title>Pendientes a mantenimiento</title>
    <style>
        h1 {
            text-align: center;
        }

        th {
            font-weight: bold !important;
            width: 300px !important;
            text-align: left;
        }

        thead tr {
            background-color: rebeccapurple !important;
        }
    </style>

</head>
<body>
<h1>
                Pendientes a mantenimiento
            </h1>
<hr/>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Matrícula</th>
                        <th>Kilómetros recorridos</th>
                        <th>Diferencia</th>
                    </tr>
                    </thead>
                    {% for obj in data %}
                        <tr>
                            <td>{{ obj.matricula }}</td>
                            <td>{{ obj.kmsxrecorridos }}</td>
                            <td>{{ obj.diferencia }}</td>
                        </tr>
                    {% endfor %}
                    <tfoot>
                    <tr>
                        <th>Matrícula</th>
                        <th>Kilómetros recorridos</th>
                        <th>Diferencia</th>
                    </tr>
                    </tfoot>
                </table>
</body>
</html>