<!DOCTYPE html>
<meta charset="UTF-8"/>
<html>
<head>
    <title>Consumo de kms</title>
    <link href="{{ absolute_url(asset('vendors/base/vendors.bundle.css','template')) }}" rel="stylesheet"
          type="text/css"/>
    <link href="{{ absolute_url(asset('demo/demo9/base/style.bundle.css','template')) }}" rel="stylesheet"
          type="text/css"/>
</head>
<body>
<h1 class="text-center m--margin-bottom-40">
    Remanente actual
</h1>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Matrícula</th>
                        <th>Litros en tanque</th>
                    </tr>
                    </thead>
                    {% for obj in data %}
                        <tr>
                            <td>{{ obj.matricula }}</td>
                            <td>{{ obj.litrosentanque }}</td>
                        </tr>
                    {% endfor %}
                    <tfoot>
                    <tr>
                        <th>Matrícula</th>
                        <th>Litros en tanque</th>
                    </tr>
                    </tfoot>
                </table>
</body>
</html>