<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">
               Detalles del subelemento
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <div>

            <div class="modal-body" id="modal-body">
                <table class="table">
                    <tr>
                        <th style="width: 7%">Nombre</th>
                        <td>{{subelemento.nombre}}</td>
                    </tr>
                    <tr>
                        <th>Código</th>
                        <td>{{subelemento.codigo}}</td>
                    </tr>
                    <tr>
                        <th>Partida</th>
                        <td>{{subelemento.partida}}</td>
                    </tr>
                    <tr>
                        <th>Elemento</th>
                        <td>{{subelemento.elemento}}</td>
                    </tr>
                </table>
        </div>
            <div class="modal-footer">
                <a class="btn btn-metal" data-dismiss="modal"><i class="flaticon-cancel"></i> Cancelar</a>
            </div>
    </div>
</div>
</div>




